<li class="beer-bottle">
  <img src="{{ image_url }}" alt="{{ name }}" />
  <div class="bottle-detail">
      <strong>"{{ name }}"</strong>
      <br>
      <small>"{{ tagline }}"</small>
      <br>
      <small>"{{ description }}"</small>
  </div>
</li>
